<h1 class="d-flex justify-content-center">
  Bienvenid@ a Agua Manantial Del Quindío
</h1>

<div class="wrapper">
  <div class="bg-image" data-mdb-ripple-color="light">
    <img width="100%" height="100%" src="/assets/fondo-1.jpeg" alt="jpg" />
  </div>
  <div class="bg-image" data-mdb-ripple-color="light">
    <img width="100%" height="100%" src="/assets/fondo-2.jpeg" alt="jpg" />
  </div>
  <div class="bg-image" data-mdb-ripple-color="light">
    <img width="100%" height="100%" src="/assets/fondo-3.jpeg" alt="jpg" />
  </div>
  <div class="bg-image" data-mdb-ripple-color="light">
    <img width="100%" height="100%" src="/assets/fondo-4.jpeg" alt="jpg" />
  </div>
</div>
