* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;//#0d6efd
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  @media (min-width: 1400px){
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
      width: 100%;
      //max-width: 1348px;
    }
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:#0d6efd;// #9ab3d7; 
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .div-block-principal {
    position: fixed;
    left: auto;
    top: 235px;
    right: 0%;
    bottom: 0%;
    z-index: 10;
    width: 100px;
    opacity: 1;
}

.grid-container {
  position: static;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 43%;
  z-index: 10;
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  grid-row-gap: 9px;
  -ms-grid-columns: 0.75fr;
  grid-template-columns: 0.75fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}
.div-block-49 {
  padding: 10px;
  border-radius: 11px;
  background-color:#0d6efd;
  opacity: 0.36;
}

.socialmedia-icon {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.socialmedia-icon:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.blank-section {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  height: 100%;
  width: 100%;
  //min-width: 980px;
}

.bgimg-1 {
  min-height: 100%;
}
.bgimg-2 {
  background-image: url(https://www.65ymas.com/uploads/s1/15/22/65/tipos-de-agua-embotellada1.jpeg);
  min-height: 100%;
}
.bgimg-3 {
  background-image: url(https://3.bp.blogspot.com/-40TK5LMSn0w/WsTrAXGu0yI/AAAAAAAADBY/YuG1NKgCpCEu0G09bUQSNq2KsPLA_0LZgCLcBGAs/s1600/manantial.jpg);
  min-height: 100%;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px; /* Ajusta la altura según tus necesidades */
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
