<!-- <div class="container">
  <div class="abs-center">
    <form action="#" class="border p-3 form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
        />
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div> -->
<div class="container">
  <div class="abs-center">
    <form action="#" class="border p-5 form">
      <div class="form-group">
        <!-- <label for="email">Email</label> -->
        <h5 class="justify-content-center">Inicio de sesión</h5>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control my-3"
          placeholder="Correo electrónico"
        />
      </div>
      <div class="form-group">
        <!-- <label for="password">Password</label> -->
        <input
          type="password"
          name="password"
          id="password"
          class="form-control my-3"
          placeholder="Contraseña"
        />
      </div>
      <div>
        <button class="btn btn-primary my-3">Iniciar Sesión</button>
        <a class="btn btn-secondary my-3 mx-2"> Olvidaste tu contraseña </a>
      </div>
    </form>
  </div>
</div>
