&nbsp;
<div class="col-sm-12 text-justify">
  <h1 class="collection-hero__title">
    productos
  </h1>
</div>

<ngb-carousel
	*ngIf="images"
  [showNavigationArrows]=true
	[showNavigationIndicators]=false
>
	<ng-template ngbSlide *ngFor="let image of images">
    <div class="carousel-item active">

      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img [src]="image" alt="Random slide" 
              />
              <div class="card-body">
                <h5 class="card-title">Botella agua 600ml
                </h5>
                <p class="card-text">
                  <strong>$1000</strong>
                </p>
                <p class="card-text">
                  Descripcion agua 600ml.
                </p>
                <a href="#exampleModalLong" class="btn btn-primary">Realizar Pedido</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img [src]="image" alt="Random slide" 
              />
              <div class="card-body">
                <h5 class="card-title">Soporte botellon</h5>
                <p class="card-text">
                  <strong>$2000</strong>
                </p>
                <p class="card-text">
                  Descripcion soporte botellon.
                </p>
                <a href="#exampleModalLong" class="btn btn-primary">Realizar Pedido</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img [src]="image" alt="Random slide" 
              />
              <div class="card-body">
                <h5 class="card-title">Botellon 20 Lts </h5>
                <p class="card-text">
                  <strong>$3000</strong>
                </p>
                <p class="card-text">

                  Descripcion botellon.
                </p>
                <a href="#exampleModalLong" class="btn btn-primary">Realizar Pedido</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</ng-template>
</ngb-carousel>

<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>

<div class="d-flex justify-content-center mb-4">
    
  <button
    class="carousel-control-prev position-relative"
    type="button"
    data-mdb-target="#carouselMultiItemExample"
    data-mdb-slide="prev"
    >
    
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next position-relative"
    type="button"
    data-mdb-target="#carouselMultiItemExample"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper 

<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>
<div class="d-flex justify-content-center mb-4">
    
    <button
      class="carousel-control-prev position-relative"
      type="button"
      data-mdb-target="#carouselMultiItemExample"
      data-mdb-slide="prev"
      >
      
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next position-relative"
      type="button"
      data-mdb-target="#carouselMultiItemExample"
      data-mdb-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>-->

<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo modal
</button>-->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
