.logo {
  height: 100px;
  width: 250px;
  padding-right: 50px;
}


.div-block-principal {
  position: fixed;
  left: auto;
  top: 235px;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  width: 100px;
  opacity: 1;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: arial;
  break-inside: avoid; /* Evita que el contenido se divida entre columnas */
  margin-bottom: 20px;
}
  
.price {
  color: grey;
  font-size: 22px;
}
  
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #0d6efd;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


.div-block-48 {
  position: fixed;
  left: auto;
  top: 0px;
  //right: 0%;
  bottom: 0%; //100px;
  z-index: 10;
  //width: 450px;
  opacity: 1;
}

.grid-38 {
  position: static;
  width: 100%;
  //padding-top: 10px;
  padding-bottom: 10px;
  //padding-left: 10px;
  height: 100%;
}
.div-block-49 {
  padding: 5px;
  border-radius: 11px;
  background-color:#5b9dff;
  height: 100%;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
  height: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.container-element {
  border: 2px solid #ccc;
  background-color: #f6f6fb;
  border-radius: 5px;
  padding: 16px;
  width: 420px;
  height: 100%;
}

.container-cart {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

span.price {
  float: right;
  color: grey;
}

span.minicarrito {
  float: left;
  color: grey;
}

.container-product {
  border: 2px solid #ccc;
  background-color: #eaedf1;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  //width: 450px;
}

.container-img {
  float: left;
  margin-right: 30px;
  //border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

.trash-icon {
  float: right;
  margin-right: 20px;
  border-radius: 50%;
}

.boton-carrito {
  float: right; background-color: #5b9dff; border-color: white; //#5b9dff  #0d6efd
}

.boton-trash {
  color: blue; float: right;border-color: white;
}

.green-text {
  color: green;
}

.carrusel {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.section {
  width: 100%;
  flex: 0 0 33.33%;
  scroll-snap-align: start;
  padding: 20px;
}

button {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

button i {
  font-size: 42px;
}

.badge {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: red;
  color: white;
  font-size: 15px;
  padding: 2px 4px;
  border-radius: 50%;
}

.cart-items {
  display: none;
}

.cart-items.open {
  display: block;
}

.incremental-button {
  display: flex;
  align-items: center;
}

.incremental-button button {
  margin: 0 5px;
}


/* Transición suave de la propiedad width               transition: width 0.3s ease;             */
/* Transición suave de la propiedad margin-left         transition: margin-left 0.3s ease;               */
