&nbsp;

<div >
  <h1 align="center"> Nuestros Productos </h1> 
</div>
&nbsp;



<div class="div-block-48">
  <div class="w-layout-grid grid-38">
    <div class="div-block-49">
      <div class="w-inline-block">
        <div class="col-25">
          <div class="container-element">
            <h4>Carrito <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>
            <p><a href="#">Product 1</a> <span class="price">$15</span></p>
            <p><a href="#">Product 2</a> <span class="price">$5</span></p>
            <p><a href="#">Product 3</a> <span class="price">$8</span></p>
            <p><a href="#">Product 4</a> <span class="price">$2</span></p>
            <hr>
            <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<ngb-carousel
	*ngIf="images"
  [showNavigationArrows]=true
	[showNavigationIndicators]=false
>
	<ng-template ngbSlide *ngFor="let image of images">
    <div class="carousel-item active">

      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img [src]="image" alt="Random slide"  style="width:100%">
              <h2>Botella Agua</h2>
              <p class="price">$19.99</p>
              <p>Descripcion botella agua.</p>
              <p><button>Añadir al carrito</button></p>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img [src]="image" alt="Random slide"  style="width:100%">
              <h2>Botella Agua</h2>
              <p class="price">$19.99</p>
              <p>Descripcion botella agua.</p>
              <p><button>Añadir al carrito</button></p>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img [src]="image" alt="Random slide"  style="width:100%">
              <h2>Botella Agua</h2>
              <p class="price">$19.99</p>
              <p>Descripcion botella agua.</p>
              <p><button>Añadir al carrito</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
	</ng-template>
</ngb-carousel>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Hello, World!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open()"></button>

<div class="d-flex justify-content-center mb-4">
    
  <button
    class="carousel-control-prev position-relative"
    type="button"
    data-mdb-target="#carouselMultiItemExample"
    data-mdb-slide="prev"
    >
    
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next position-relative"
    type="button"
    data-mdb-target="#carouselMultiItemExample"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper 

<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>
<div class="d-flex justify-content-center mb-4">
    
    <button
      class="carousel-control-prev position-relative"
      type="button"
      data-mdb-target="#carouselMultiItemExample"
      data-mdb-slide="prev"
      >
      
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next position-relative"
      type="button"
      data-mdb-target="#carouselMultiItemExample"
      data-mdb-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>-->

<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo modal
</button>-->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
