
.dialog-title {
  margin-top: 0;
}

.form-row {
  justify-content: space-between;
}

.form-field {
  flex-basis: 45%;
}

.dialog-form {
  width: 100%;
}

.dialog-button {
  margin-top: 1rem;
}
  
.mat-form {
  width: 50%;
}

.row {
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-buttons {
  display: flex;
  justify-content: center;
}

.alinear-buttons {
  padding-left: 70px;
  padding-right: 70px;
  justify-content: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
.mat-datepicker-toggle {
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
