
<h2 mat-dialog-title>Conoce nuestras ofertas</h2>
<!-- --> 
<div *ngIf="loadingComponent">
  <div class="loading-container">
      <div class="loading-spinner"></div>
      <p>Cargando por favor espera...</p>
  </div>
</div>
<div *ngIf="loginComponent">
  <div class="row gutters-sm">
    <!-- -->
    <mat-dialog-content class="mat-typography">
      <div class="container">
        <div fxLayout="column">
          <br />
          <form [formGroup]="dialogForm" class="form">
            <mat-form-field class="mat-form">
              <input type="number"
                matInput
                placeholder="Cedula"
                formControlName="cedula"
                min="0"
              />
            </mat-form-field>
            <mat-form-field class="mat-form">
              <input type="email"
                matInput
                placeholder="Email ej@example.com"
                formControlName="email"
              />
            </mat-form-field>
          </form>
          <br />
          
        </div>
      </div>
    </mat-dialog-content>
  </div>
  <mat-dialog-actions  class="center-buttons">
    <button mat-raised-button color="warn" class="alinear-buttons" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" class="alinear-buttons" [disabled]="dialogForm.invalid" (click)="aceptar()">Aceptar</button>
  </mat-dialog-actions>
</div>

<div *ngIf="registrarseComponent">
  <div class="row gutters-sm">
    <!-- -->
    <mat-dialog-content class="mat-typography">
      <div class="container">
        <div fxLayout="column">
          <br />
          <form [formGroup]="dialogFormRegistro" class="form">
            <mat-form-field class="mat-form">
              <input
                matInput
                placeholder="Nombre"
                formControlName="nombre"
              />
            </mat-form-field>
            <mat-form-field class="mat-form">
              <input
                matInput
                placeholder="Apellidos"
                formControlName="apellido"
              />
            </mat-form-field>
            <mat-form-field class="mat-form">
              <input
                matInput
                placeholder="Correo"
                formControlName="email"
              />
            </mat-form-field>
            <mat-form-field class="mat-form">
              <mat-label>Teléfono</mat-label>
              <input
                matInput
                formControlName="telefono"
              />
            </mat-form-field>
            <mat-form-field class="mat-form">
              <mat-label>Cedula</mat-label>
              <input
                matInput
                formControlName="cedula"
              />
            </mat-form-field>
            <mat-form-field class="mat-form">
              <mat-label>Dirección</mat-label>
              <input
                matInput
                formControlName="direccion"
              />
            </mat-form-field>
            <mat-form-field class="mat-form">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechNacimiento">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
          <br />
          
        </div>
      </div>
    </mat-dialog-content>
  </div>

  <mat-dialog-actions class="center-buttons">
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="dialogFormRegistro.invalid" (click)="subscribirse()">Subscribirse</button>
  </mat-dialog-actions>
</div>

<div *ngIf="actualizarComponent">
  <div class="row gutters-sm">
    <!-- -->
    <mat-dialog-content class="mat-typography">
      <div class="container">
        <div fxLayout="column">
          <br />
          <form [formGroup]="dialogFormRegistro" class="form">
            <mat-form-field class="mat-form">
              <input
                matInput
                placeholder="Nombre"
                formControlName="nombre"
              />
            </mat-form-field>
            <mat-form-field class="mat-form">
              <input
                matInput
                placeholder="Apellidos"
                formControlName="apellido"
              />
            </mat-form-field>
            <mat-form-field class="mat-form">
              <input
                matInput
                placeholder="Correo"
                formControlName="email"
              />
            </mat-form-field>
            <mat-form-field class="mat-form">
              <mat-label>Teléfono</mat-label>
              <input
                matInput
                formControlName="telefono"
              />
            </mat-form-field>
            <mat-form-field class="mat-form">
              <mat-label>Cedula</mat-label>
              <input
                matInput
                formControlName="cedula"
              />
            </mat-form-field>
            <mat-form-field class="mat-form">
              <mat-label>Dirección</mat-label>
              <input
                matInput
                formControlName="direccion"
              />
            </mat-form-field>
            <mat-form-field class="mat-form">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechNacimiento">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
          <br />
          
        </div>
      </div>
    </mat-dialog-content>
  </div>

  <mat-dialog-actions class="center-buttons">
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="dialogFormRegistro.invalid" (click)="actualizarDatos()">Actualizar datos</button>
  </mat-dialog-actions>
</div>


