<div class="container">
    <div class="d-grid gap-3">
        <img class="circular--square" width="650" height="569" src="/assets/fondo-1.jpeg" alt="" loading="lazy" title="Cascada-Quindio-2" srcset="/assets/fondo-1.jpeg" sizes="(max-width: 650px) 100vw, 650px">

    <div class="container_inner clearfix">
        <div class="title_subtitle_holder">
            <div class="title_subtitle_holder_inner">
                <h1><span>Quiénes Somos</span></h1>
                                            
            </div>
        </div>
    </div>
    </div>
    
    
</div>
