
<div class="container">
    
    <div class="row row-fluid">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-justify">
            <br><br>
            <h1><span>Quiénes Somos</span></h1>
            <br>
            <p>
                {{ aboutUs }}
            </p>
            <br><br>
            <h2><span>Mision</span></h2>
            <br>
            <p>
                {{ mision }}
            </p>
            <br><br>
            <h2><span>Vision</span></h2>
            <br>
            <p>
                {{ vision }}
            </p>
            <br><br>
            <h4>VALORES CORPORATIVOS</h4>
            <ul class="listValor">
                <li><strong>Innovación:</strong> Trabajamos ...</li>
                <li><strong>Calidad:</strong> Creemos que la calidad ...</li>
                <li><strong>Orientación al cliente:</strong> El cliente es el centro de nuestra actividad ...</li>
                <li><strong>Equidad:</strong> Procedemos con equidad e inclusividad.</li>
            </ul>

            <p>&nbsp;</p>
            <p class="text-center"><strong>Gracias y Feliz compra!</strong></p>
        </div>
    </div>
    
</div>
