<div class="container">
    
    <div class="row row-fluid">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-justify">
            <br><br>
            <h1><span>Quiénes Somos</span></h1>
            <br>
            <p>
                Somos una empresa Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue eros tristique, iaculis ante vitae, interdum justo. Curabitur accumsan neque quis ex suscipit, eget molestie felis gravida. Nulla facilisi. Nam congue non nibh non maximus. Donec blandit vel justo vitae blandit. Pellentesque dolor lectus, lacinia id augue sit amet, hendrerit euismod augue. Vestibulum at odio in tortor finibus facilisis. Cras vulputate purus sit amet erat porta, in pretium nibh vulputate. Suspendisse gravida vulputate suscipit. Etiam a nisl mattis, sollicitudin diam in, dictum dolor....
                <br><br>
                Buscamos satisfacer ...
                <br><br>
            </p>
            <h4>VALORES CORPORATIVOS</h4>
            <ul class="listValor">
                <li><strong>Innovación:</strong> Trabajamos ...</li>
                <li><strong>Calidad:</strong> Creemos que la calidad ...</li>
                <li><strong>Orientación al cliente:</strong> El cliente es el centro de nuestra actividad ...</li>
                <li><strong>Equidad:</strong> Procedemos con equidad e inclusividad.</li>
            </ul>

            <p>&nbsp;</p>
            <p class="text-center"><strong>Gracias y Feliz compra!</strong></p>
        </div>
    </div>
    
</div>
