<h3>Cesta de la Compra</h3>


<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio Unitario</th>
      <th>total</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let producto of productos">
        <tr>
            <td>{{producto.name}}</td>
            <td>{{producto.quantity}}</td>
            <td>{{producto.price}}</td>
            <td>{{producto.price}}</td>
        </tr>
    </ng-container>
  </tbody>
</table>
<!-- Container Promocion
<p class="text-end">Total {{total() | currency:'ARS'}}</p> -->

<div class="text-end">
    <button >Comprar</button>
</div>