<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <img class="logo" src="/assets/logo_manantial.png" />

  <div class="collapse navbar-collapse alig-element " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="#">Agua Manantial Del Quindío</a>
      <li class="nav-item">
        <a class="nav-link text-white" href="#" [routerLink]="['/orders']"
          >Hacer Pedido</a
        >
      </li>
      
      <li class="nav-item">
        <a class="nav-link text-white" href="#" [routerLink]="['/historialcliente']"
        >Mis Pedidos</a>
      </li>
      <li class="nav-item last-item">
        <a class="nav-link text-white " href="#" [routerLink]="['/quienessomos']"
        >Quiénes somos</a>
      </li>
    </ul>
  </div>
</nav>

