<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <img class="logo" src="/assets/logo_manantial.png" />
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#" [routerLink]="['/']"
          >Principal
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="#">Quiénes somos</a>
      </li>
    </ul>
    <form class="form-inline">
      <button
        class="btn btn-outline-primary text-white justify-content-between"
        type="submit"
      >
        Hacer Pedido
      </button>
    </form>
  </div>
</nav>
