.logo {
    height: 100px;
    width: 250px;
    padding-right: 50px;
}

.alig-element {
  justify-content: end;
}
.nav-item {
  margin-right: 10px; /* Ajusta el valor según el espaciado deseado */
}

.last-item {
  padding-right: 80px; /* Ajusta el valor según el espaciado deseado */
}